n8n-workflows/automations/linkedin-post-generator.json
{
  "name": "LinkedIn Technical Post Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "linkedin-post-generator"
    },
    {
      "parameters": {
        "functionCode": "// Extract data from webhook\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    topic: data.topic || '',\n    keyPoints: data.keyPoints || [],\n    tone: data.tone || 'professional',\n    targetAudience: data.targetAudience || 'developers',\n    includeHashtags: data.includeHashtags !== false,\n  }\n}];"
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// Build prompt for AI\nconst data = $input.first().json;\n\nconst prompt = `Generate a LinkedIn technical post about: ${data.topic}\n\nKey Points to Include:\n${data.keyPoints.map((p, i) => `${i + 1}. ${p}`).join('\\n')}\n\nRequirements:\n- Tone: ${data.tone}\n- Target Audience: ${data.targetAudience}\n- Length: 100-150 words\n- Include practical examples\n- End with a question to engage audience\n${data.includeHashtags ? '- Include 3-5 relevant hashtags' : ''}\n\nFormat the post for LinkedIn with proper spacing and emojis.`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "build-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "claude-3-sonnet-20240229",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "ai-generation",
      "name": "Generate with AI",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Format and validate response\nconst aiResponse = $input.first().json.text;\n\nreturn [{\n  json: {\n    success: true,\n    post: aiResponse.trim(),\n    characterCount: aiResponse.length,\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "response",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "Generate with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}
